* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.animate {
}
.rotate {
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
    backface-visibility: hidden;
}
.rotate_block {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate_block 10s linear infinite;
}
.block {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 100px 0 auto;
    top: 0;
    left: 0;
}
.front {
    background: red;
    animation-name: rotate_front;
}

.back {
    background: green;
    animation-name: rotate_back;
}
.block::before {
    content: "";
    background: inherit;
    position: absolute;
    width: inherit;
    height: inherit;
    transform: translateZ(-1px);
    top: 0;
    left: 0;
}
@keyframes rotate_block {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
@keyframes rotate_back {
    from {
        transform: rotateZ(0deg) translateZ(10px);
    }
    to {
        transform: rotateZ(360deg) translateZ(10px);
    }
}
@keyframes rotate_front {
    from {
        transform: rotateZ(360deg) translateZ(-10px) rotateY(180deg);
    }
    to {
        transform: rotateZ(0deg) translateZ(-10px) rotateY(180deg);
    }
}
